<div class="container">
  <h1>Players</h1>
  <div class="row">
      {{#each players}} 
      <!--this significa cada jugador -->
      <!--this = lebron -->
      <!--this = michael -->
      <!--this = dennis -->
        {{> playerCard this }}
      {{/each}}
  </div>
</div>